* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
.container {
    width: 1050px;
    margin: 0 auto;
}
.top-banner {
    display: block;
    text-align: center;
    line-height: 42px;
    height: 42px;
    background-color: #5f0080;
    color: white;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.05em;
}
.shipping-service img {
    width: 121px;
    height: 22px;
    margin-top: 10px;
}
.list-menu {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    height: 37px;
}
.list-menu li .log-in,
.service-center {
    margin-left: 10px;
}
.Kurly-logo {
    width: 103px;
    height: 79px;
    margin-left: 122px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.service-area {
    display: flex;
    justify-content: space-between;
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 4px;
    letter-spacing: -0.3px;
    font-size: 16px;
    color: #333;
}
.research-service {
    display: flex;
    justify-content: space-between;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.3px;
    font-size: 16px;
    color: #333;
    height: 39px;
}
.research-service ul li {
    margin-right: 75px;
    padding-top: 4px;
}
.search-blank {
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 18px;
    width: 242px;
    height: 36px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    color: #666;
    line-height: 16px;
    outline: none;
}
.search-bar {
    position: relative;
}
.search-icon {
    display: inline-block;
    position: absolute;
    right: 108px;
    top: 10px;
    width: 242px;
}
.icon img {
    margin-right: 15px;
}
.location img,
.cart img {
    width: 35px;
    margin-left: 10px;
}
.service-area li {
    float: left;
    height: 37px;
    padding: 0 22px 0 10px;
    color: #333;
    line-height: 35px;
    white-space: nowrap;
}
.research-service li {
    float: left;
}
.icon {
    width: 24px;
    height: 24px;
}
.swiper-wrapper img {
    width: 1519px;
    height: 370px;
}
section {
    margin-top: 90px;
}
.section-head {
    font-size: 33px;
    font-weight: 550;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.good img {
    width: 249px;
    height: 320px;
}
.goods-list .goods {
    float: left;
}
.goods-list {
    display: flex;
    justify-content: center;
}
.goods-list ul {
    padding: 0px;
}
.good {
    padding-left: 10px;
    padding-right: 12px;
    width: 300px;
}
.goods-name {
    font-size: 17px;
    font-weight: 500;
    height: 44px;
}
.sale-rate {
    font-size: 20px;
    color: orangered;
}
.sale-price {
    font-weight: bold;
}
.before-price {
    text-decoration: line-through;
    color: grey;
}
.good li {
    margin-bottom: 6px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.service-center {
    position: relative;
}
.service-center .content {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 34px;
    width: 102px;
    padding: 3px 9px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.service-center:hover .content {
    display: block;
}
.service-center .content a {
    font-size: 12px;
    color: #404040;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
}
